body {
    color: white !important;
    line-height: 1.2 !important;
}

@font-face {
    font-family: "NeueHaasDisplayLight";
    src: url("../fonts/NeueHaasDisplay-Light.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasDisplayThin";
    src: url("../fonts/NeueHaasDisplay-Thin.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

* {
    font-weight: 100;
}

/* navbqr */

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px 15px;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
    font-family: NeueHaasDisplayLight, serif;
}

.nav-logo{
    font-size: 4rem;
}

nav a {
    color: white;
    text-decoration: none;
    transition: .4s;
}

nav a:hover {
    color: grey;
    transition: .4s;
}

@media (max-width: 576px) {
    nav {
        padding: 5px;
    }
}

/* The Overlay Menu */
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: #2A4656;
    overflow-x: hidden;
    transition: 1s;
}

.overlay-content {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    flex-direction: column;
}

.overlay-content ul a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    padding-top: 8px;
    padding-bottom: 8px;
}

.overlay-content .overlay-links {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.overlay-links1 {
    font-size: 3rem;
    font-family: NeueHaasDisplayThin, serif;
}

.overlay-links1-last {
    font-size: 3rem;
    font-family: NeueHaasDisplayLight, serif;
}

.overlay-links2 {
    font-size: 1.5rem;
    font-family: NeueHaasDisplayThin, serif;
}

/* flip card */
.flip-card-content {
    transform-style: preserve-3d;
}
nav .flip-card-content {
    transform: translateX(-10px);
}
.flip-card-side-a{
    position: relative;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
    transition: all 1s ease-in-out;
}
.flip-card-side-b {
    top: 0;
    position: absolute;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
    transition: all 1s ease-in-out;
}
.flip-card-side-a {
    transform: rotateX(0deg) translateZ(30px);
    z-index: 1;
}
.flip-card-side-b {
    transform: rotateX(90deg) translateZ(30px);
    opacity: 0;
}
.flip-card-content:hover .flip-card-side-a {
    transform: rotateX(-90deg) translateZ(30px);
    opacity: 0;
}
.flip-card-content:hover .flip-card-side-b {
    transform: rotateX(0deg) translateZ(30px);
    z-index: 1;
    opacity: 1;
}

.flip-card-content:hover .flip-card-side-b a{
    color: grey!important;
}

/* index.html */

#app{
    background-color: rgb(19,19,21);
}
.home-wrapper {
    perspective: 100px;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url("../img/slider.jpg");
    background-size: cover;
    transition: transform 0.5s;
}

.home-wrapper-overlay {
    width: 500px;
    height: 800px;
    position: absolute;
    top: 80px;
    left: 58.5%;
    background-image: url("../img/slider2.jpg");
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
    background-position: center;
    transition: transform 0.5s;
}

.home-wrapper-overlay2 {
    transform: translateY(80%);
    width: 100%;
    height: 350px;
    position: absolute;
    background-image: url("../img/gms_slider.png");
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
    background-position: center;
}

.pluses {
    width: 100%;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}

.pluses1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: lighter;
}

.home-text-box1 {
    width: 400px;
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 2rem;
}

.home-text-box2 {
    width: 550px;
    position: absolute;
    right: 0px;
    bottom: 70px;
    font-size: 1rem;
}

.home-text-box3 {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 1rem;
}

/* ABOUT.html *********************** */

.about-wrapper {
    background-color: black;
}

.about-wrapper .banner {
    padding: 50px;
    height: 1000px;
    font-size: 2.5rem;
}

.about-wrapper .banner .banner-imgs {
    width: 100%;
    height: 800px;
    position: relative;
}

.about-wrapper .banner img:nth-child(1) {
    height: 500px;
    position: absolute;
    top: 250px;
    left: 150px;
}

.about-wrapper .banner img:nth-child(2) {
    height: 500px;
    position: absolute;
    top: 50px;
    left: 500px;
    z-index: 99;
}

.about-wrapper .banner img:nth-child(3) {
    height: 700px;
    position: absolute;
    top: -100px;
    left: 800px;
}

@media (max-width: 576px) {
    .about-wrapper .banner {
        padding: 5px;
        height: 500px;
        font-size: 1rem;
    }

    .about-wrapper .banner .banner-imgs {
        width: 100%;
        height: 400px;
        position: relative;
    }

    .about-wrapper .banner img:nth-child(2) {
        height: 350px;
        position: absolute;
        top: 45px;
        left: 20px;
        z-index: 99;
    }
}

.scroll-text {
    height: 200px;
    width: 90%;
    overflow: scroll;
    direction: rtl;
    padding-left: 50px;
    font-size: 2.3rem;
    margin: 50px 0;
}

@media (max-width: 576px) {
    .scroll-text {
        width: 100%;
        padding-left: 5px;
        font-size: 1.3rem;
    }
}

.scroll-text .content {
    direction: ltr;
}

.scroll-text .content p {
    text-indent: 100px;
}

@media (max-width: 576px) {
    .scroll-text .content p {
        text-indent: 40px;
    }
}

#scrollbox::-webkit-scrollbar {
    background: gray;
    width: 6px;
}

#scrollbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 2.5px black;
}

#scrollbox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

div.scroll-text {
    height: 300px;
    overflow: auto;
}

/*#scrollbox:hover::-webkit-scrollbar {
    background: white;
}*/

#scrollbox:hover::-webkit-scrollbar-thumb {
    background-color: white;
}

.sliderupbox {
    font-size: 2.5rem;
    font-family: NeueHaasDisplayThin, serif;
}

.sliderupbox a {
    text-decoration: none;
    color: white;
    transition: ease .4s;
}

.sliderupbox-lastitem {
    font-family: NeueHaasDisplayLight, serif;
}

.sliderupbox a:hover {
    color: gray;
    transition: ease .4s;
}

.sliderupbox div div {
    width: 100%;
    border-bottom: .2px solid gray;
}

/* owl carousel */

.owl-carousel {
    border-bottom: 1px solid grey;
}

.owl-dots {
    position: absolute;
    top: -40px;
    right: 0;
}

button.owl-dot {
    margin: 3px;
    width: 12px;
    height: 12px;
    border-radius: 10px !important;
    padding: 0 !important;
    border: .8px solid white !important;
}

button.owl-dot.active {
    background-color: whitesmoke !important;
}

/* clients */
.clients div {
    padding: 10px;
}

.clients a {
    color: white;
    text-decoration: none;
    transition: ease .4s;
}

.clients a:hover {
    color: gray;
    cursor: pointer;
    transition: ease .4s;
}

.clients-box-title {
    font-weight: 900;
    font-family: NeueHaasDisplayLight, serif;
}

.clients-title {
    padding: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    font-family: NeueHaasDisplayLight, serif;
}

.clients-title2 {
    padding: 10px;
    display: flex;
    justify-content: end;
    border-bottom: none;
}


/* footer */

footer {
    background-color: rgb(177, 177, 177);
    padding: 40px 30px;
    color: black;
    font-family: NeueHaasDisplayLight, serif;
}

footer li{
    margin: 10px 0;
}

footer a {
    color: black;
    text-decoration: none;
    transition: ease .4s;
    font-size: 1.9rem;
}

footer a:hover {
    color: black;
    transition: ease .4s;
}

footer .col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.9rem;
}

footer .collast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
}

.footer-logo {
    font-size: 6rem;
    color: white;
}

.footer-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

@media (max-width: 576px) {
    .footer-links {
        padding: 30px 0;
    }
}

/* TEAM.html *********************** */

.team-wrapper {
    background-color: black;
    font-family: NeueHaasDisplayLight, serif;
}

.team-banner {
    padding: 100px;
}

.team-banner-title {
    width: 90%;
    font-size: 2.3rem;
    padding: 0 0 100px;
}

.team-banner-text {
    width: 90%;
    font-size: 2rem;
    text-indent: 100px;
}

.team-members-box {
    margin-bottom: 100px;
}

.team-members-title {
    font-size: 2.3rem;
}

.team-members-detail {
    font-size: 1.4rem;
    margin: 5px 0 30px 0;
}

.team-members-img {
    width: 100%;
    height: 600px;
    border: 1px solid grey;
}

.team-members-info {
    font-size: 1.3rem;
    padding-top: 30px;
}

.team-members-info p {
    margin-bottom: 1.8rem;
}