body {
    color: white !important;
    line-height: 1.2 !important;
}

@font-face {
    font-family: "NeueHaasDisplayLight";
    src: url("../fonts/NeueHaasDisplay-Light.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasDisplayThin";
    src: url("../fonts/NeueHaasDisplay-Thin.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

* {
    font-weight: 100;
}

/* navbqr */

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px 15px;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
    font-family: NeueHaasDisplayLight, serif;
}

.nav-logo {
    font-size: 4rem;
}

.nav-logo a {
    line-height: 1;
}

nav a {
    color: white;
    text-decoration: none;
    transition: .4s;
    display: flex;
    align-items: center;
}

nav a:hover {
    color: white;
    filter: invert(.4);
    transition: .4s;
}

@media (max-width: 576px) {
    nav {
        padding: 5px;
    }
}

/* flip card */
.flip-card-content {
    transform-style: preserve-3d;
}

nav .flip-card-content {
    transform: translateX(-10px);
}

.flip-card-side-a {
    position: relative;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
    transition: all 1s ease-in-out;
}

.flip-card-side-b {
    top: 0;
    position: absolute;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
    transition: all 1s ease-in-out;
}

.flip-card-side-a {
    transform: rotateX(0deg) translateZ(30px);
    z-index: 1;
}

.flip-card-side-b {
    transform: rotateX(90deg) translateZ(30px);
    opacity: 0;
}

.flip-card-content:hover .flip-card-side-a {
    transform: rotateX(-90deg) translateZ(30px);
    opacity: 0;
}

.flip-card-content:hover .flip-card-side-b {
    transform: rotateX(0deg) translateZ(30px);
    z-index: 1;
    opacity: 1;
}

.flip-card-content:hover .flip-card-side-b a {
    color: grey !important;
}

/* index.html */

.home-wrapper {
    perspective: 100px;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(19, 19, 21);
    background-size: cover;
    transition: transform 0.5s;
    font-family: NeueHaasDisplayLight;
    overflow: hidden;
}

.home-wrapper-overlay1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url("../img/slider.jpg");
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s;
}

.home-wrapper-overlay2 {
    width: 500px;
    height: 800px;
    position: absolute;
    top: 80px;
    left: 58.5%;
    background-image: url("../img/slider2.jpg");
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
    background-position: center;
    transition: transform 0.5s;
}

@media (max-width: 576px) {
    .home-wrapper-overlay2 {
        width: 300px;
        height: 600px;
        top: 100px;
        left: 12.5%;
    }
}

.home-wrapper-overlay3 {
    width: 100vw;
    height: 300px;
    display: flex;
    top: 0;
    position: absolute;
    background-image: url("../img/gmslogobos.svg");
    background-origin: content-box;
    background-repeat: no-repeat;
    text-align: center;
    background-size: contain;
    background-position: center;
    transition: ease .7s;
    transform: translateY(105%);
}

.home-wrapper-overlay3:hover {
    background-image: url("../img/gmslogodolu.svg");
    transition: ease .5s;
}

.pluses {
    width: 100%;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: lighter;
}

.pluses1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: lighter;
}

.home-text-box1 {
    width: 400px;
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 2rem;
}

.home-text-box2 {
    width: 550px;
    position: absolute;
    right: -20px;
    bottom: 90px;
    font-size: 1rem;
}

.home-text-menubtn {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    .home-text-box1 {
        width: 200px;
        position: absolute;
        left: 50px;
        top: 150px;
        font-size: 1rem;
    }

    .home-text-box2 {
        width: 350px;
        position: absolute;
        right: 0px;
        bottom: 150px;
        font-size: 1rem;
    }

    .home-text-menubtn {
        position: absolute;
        right: 30px;
        top: 50px;
    }
}

/* The Overlay Menu */
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: #2A4656;
    overflow-x: hidden;
    transition: 1s;
}

.overlay-content {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    flex-direction: column;
}

.overlay-content ul a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.9s;
    padding-top: 8px;
    padding-bottom: 8px;
}

.overlay-content .overlay-links {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.overlay-links1 {
    font-size: 3rem;
    font-family: NeueHaasDisplayThin, serif;
}

.overlay-links1-last {
    font-size: 3rem;
    font-family: NeueHaasDisplayLight, serif;
}

.overlay-links2 {
    font-size: 1.5rem;
    font-family: NeueHaasDisplayThin, serif;
}

/* ABOUT.html *********************** */

.about-wrapper {
    background-color: black;
}

.about-wrapper .banner {
    padding: 50px;
    height: 1000px;
    font-size: 2.5rem;
}

.about-wrapper .banner .banner-imgs {
    width: 50%;
    height: 800px;
    position: relative;
    margin: auto;
}

.about-wrapper .banner img:nth-child(1) {
    height: 500px;
    position: absolute;
    top: 250px;
    left: 0%;
}

.about-wrapper .banner img:nth-child(2) {
    height: 500px;
    position: absolute;
    top: 50px;
    left: 30%;
    z-index: 99;
}

.about-wrapper .banner img:nth-child(3) {
    height: 700px;
    position: absolute;
    top: -100px;
    left: 60%;
}

.about-wrapper .banner-subtitle {
    font-size: 2.3rem;
    font-family: NeueHaasDisplayThin, serif;
    padding-left: 160px;
}

@media (max-width: 576px) {
    .about-wrapper .banner-subtitle {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .about-wrapper .banner {
        padding: 5px;
        height: 500px;
        font-size: 1rem;
    }

    .about-wrapper .banner .banner-imgs {
        width: 100%;
        height: 400px;
        position: relative;
    }

    .about-wrapper .banner img:nth-child(2) {
        height: 350px;
        position: absolute;
        top: 45px;
        left: 20px;
        z-index: 99;
    }
}

.scroll-text {
    height: 200px;
    width: 90%;
    overflow: scroll;
    direction: rtl;
    padding-left: 50px;
    font-size: 2.3rem;
    margin: 50px 0;
    font-family: NeueHaasDisplayThin, serif;
}

@media (max-width: 576px) {
    .scroll-text {
        width: 100%;
        padding-left: 5px;
        font-size: 1.3rem;
    }
}

.scroll-text .content {
    direction: ltr;
}

.scroll-text .content p {
    text-indent: 100px;
}

@media (max-width: 576px) {
    .scroll-text .content p {
        text-indent: 40px;
    }
}

#scrollbox::-webkit-scrollbar {
    background: white;
    width: 5px;
}

#scrollbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 2.3px black;
}

#scrollbox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255);
}

div.scroll-text {
    height: 300px;
    overflow: auto;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

#banner-title {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
}

/*#scrollbox:hover::-webkit-scrollbar {
    background: white;
}*/

#scrollbox:hover::-webkit-scrollbar-thumb {
    background-color: white;
}

.sliderupbox {
    font-size: 2.5rem;
    font-family: NeueHaasDisplayThin, serif;
    height: 100%;
}

.sliderupbox a {
    text-decoration: none;
    color: white;
    transition: ease .4s;
}

.sliderupbox-lastitem {
    font-family: NeueHaasDisplayLight, serif;
    transform: scale(1, 1.6) translateY(-4px);
}

.sliderupbox a:hover {
    color: gray;
    transition: ease .4s;
}

.sliderupbox .col-12 > div {
    border-bottom: .2px solid gray;
}

/* owl carousel */

.owl-carousel {
    border-bottom: 1px solid grey;
}

.owl-dots {
    position: absolute;
    top: -40px;
    right: 0;
}

button.owl-dot {
    margin: 3px;
    width: 12px;
    height: 12px;
    border-radius: 10px !important;
    padding: 0 !important;
    border: .8px solid white !important;
}

button.owl-dot.active {
    background-color: whitesmoke !important;
}

/* clients */
.clients > div {
    padding: 10px;
}

.clients a {
    color: white;
    text-decoration: none;
    transition: ease .4s;
}

.clients a:hover {
    color: gray;
    cursor: pointer;
    transition: ease .4s;
}

.clients-box-title {
    font-weight: 900;
    font-family: NeueHaasDisplayLight, serif;
}

.clients-title {
    padding: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    font-family: NeueHaasDisplayLight, serif;
}

.clients-title2 {
    padding: 10px;
    display: flex;
    justify-content: end;
    border-bottom: none;
}


/* footer */

footer {
    background-color: rgb(177, 177, 177);
    padding: 40px 30px;
    color: black;
    font-family: NeueHaasDisplayLight, serif;
}

@media (max-width: 576px) {
    footer {
        padding: 20px 10px;
    }
}

footer a {
    color: black;
    text-decoration: none;
    transition: ease .4s;
    font-size: 1.9rem;
}

footer a:hover {
    color: grey;
    transition: ease .4s;
}

footer .col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.9rem;
}

footer .collast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
}

.footer-logo {
    font-size: 6rem;
    color: white;
    line-height: 1;
    display: flex;
    align-items: center;
}

.footer-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

@media (max-width: 576px) {
    .footer-links {
        padding: 30px 0;
    }
}

/* TEAM.html *********************** */

.team-wrapper {
    background-color: black;
    font-family: NeueHaasDisplayLight, serif;
}

.team-banner {
    padding: 100px;
}

.team-banner-title {
    width: 90%;
    font-size: 2.3rem;
    padding: 0 0 100px;
}

.team-banner-text {
    width: 90%;
    font-size: 2rem;
    text-indent: 100px;
}

.team-members-box {
    margin-bottom: 100px;
}

.team-members-title {
    font-size: 2.3rem;
}

.team-members-detail {
    font-size: 1.4rem;
    margin: 5px 0 30px 0;
}

.team-members-img {
    width: 100%;
    height: 600px;
    border: 1px solid grey;
}

.team-members-info {
    font-size: 1.3rem;
    padding-top: 30px;
}

.team-members-info p {
    margin-bottom: 1.8rem;
}

@media (max-width: 576px) {
    .team-banner {
        padding: 30px 0;
    }

    .team-banner-title {
        padding: 0 0 30px;
        font-size: 1.4rem;
    }

    .team-banner-text {
        font-size: 1.2rem;
        text-indent: 100px;
    }

    .team-members-title {
        font-size: 1.6rem;
    }

    .team-members-detail {
        font-size: 1.4rem;
        margin: 5px 0 10px 0;
    }
}


/* PRINCIPLES.html */

/*accordion*/
.accordion {
    margin-bottom: 100px;
}

.accordion-button {
    padding: 20px 0 !important;
}

.accordion-button::before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-right: 20px;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: 1s;
    background-image: url('../img/circle+.svg') !important;
    transform: scale(1.4);
}

.accordion-button:not(.collapsed)::before {
    background-image: url('../img/circlex.svg') !important;
    transition: 1s;
}

.accordion-button::after {
    background-image: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: none !important;
}

.accordion-item, .accordion-button {
    border-color: black !important;
    font-size: 2.3rem !important;
    font-family: NeueHaasDisplayThin, serif;
}

.accordion * {
    background-color: black !important;
    color: white !important;
    border: none;
}

.accordion-collapse {
    height: 400px;
}

/* 360 SERVICES.html */

.services-wrapper {
    background-color: black;
}

.services-p{
    text-indent: 150px;
    padding: 50px 0;
    font-size: 2.5rem;
    font-family: NeueHaasDisplayThin, serif;
}

.services-filter-btns-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 30px;
    border: .1px solid white;
    font-size: 2rem;
    text-align: center;
    font-family: NeueHaasDisplayLight, serif;
}

.filter-btn1 {
    width: 33.333%;
}

.filter-btn2 {
    flex-grow: 2;
}

.filter-btn6 {
    flex-grow: 5;
}

.filter-btn:hover {
    background-color: #2A4656;
    transition: ease .4s;
}

.filter-btn.active {
    background-color: #2A4656;
    color: white;
    transition: ease .4s;
}

@media (max-width: 576px) {
    .filter-btn {
        width: 50%;
        font-size: 1rem;
        padding: 10px;
    }
    .filter-btn6 {
        width: 100%;
    }
    .services-p{
        font-size: 1.4rem;
        padding: 30px 0;
        text-indent: 50px;
    }
}

.table-wrapper {
    padding-left: 100px;
    padding-bottom: 200px;
    margin-bottom: 50px;
    border-bottom: .5px solid white;
}

@media (max-width: 576px) {
    .table-wrapper {
        padding-left: 0;
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: .5px solid white;
    }
}

.table-wrapper .table {
    color: white;
    font-family: NeueHaasDisplayLight, serif;
}

.table-wrapper .table .active {
    background-color: #2A4656;
}

.table-wrapper .table tr:nth-child(1){
    font-weight: bold;
    font-size: 1.6rem;
}

.table-wrapper .table tr:nth-child(1) td{
    padding-top: 20px;
}

/*.table-wrapper .table tr td{
    width: 20px !important;
}*/

.table-wrapper .table tr td:nth-child(1){
    border-left: 1px solid black !important;
    padding-top: 20px;
}

.table-wrapper .first{
    border-top: 1px solid black !important;
    font-size: 2rem !important;
}


/* LAB.html */

.lab-wrapper {
    background-color: black;
}

.lab-wrapper .pagetitle{
    display: flex;
    align-items: center;
}

.lab-wrapper .scaled {
    font-family: NeueHaasDisplayLight, serif;
    transform: scale(1, 1.6);

}

.lab-wrapper .banner {
    padding: 50px;
    height: 1000px;
    font-size: 3rem;
    font-family: NeueHaasDisplayLight, serif;
}

.lab-wrapper .banner-title {
    padding: 50px;
    position: absolute;
    font-size: 3rem;
    font-family: NeueHaasDisplayLight, serif;
}

.lab-wrapper .banner .banner-imgs {
    width: 70%;
    height: 1000px;
    position: relative;
    margin: auto;
}

.lab-wrapper .banner img:nth-child(1) {
    height: 800px;
    position: absolute;
    top: 150px;
    left: 0;
}

.lab-wrapper .banner img:nth-child(2) {
    height: 500px;
    position: absolute;
    top: 40px;
    left: 35%;
    z-index: 99;
}

.lab-wrapper .banner img:nth-child(3) {
    height: 400px;
    position: absolute;
    top: 400px;
    left: 60%;
    z-index: 99;
}

.lab-wrapper .scroll-text {
    width: 80%;
    height: 450px;
}

@media (max-width: 576px) {
    .lab-wrapper .banner-title {
        padding: 0;
        position: absolute;
        font-size: 1.4rem;
    }
    .lab-wrapper .banner {
        padding: 0;
        height: 500px;
    }

    .lab-wrapper .banner .banner-imgs {
        width: 100%;
    }
    .lab-wrapper .banner img:nth-child(2) {
        height: 300px;
        position: absolute;
        top: 150px;
        left: 30px;
        z-index: 99;
    }
    .lab-wrapper .scroll-text {
        width: 100%;
    }
}